{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Извините, такой страницы нет(((</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/foundation.css" >
        <!-- Insert this within your head tag and after foundation.css -->

</head>
<body>
    <div class="row column">
        <h1 style="color: red">Вот ведь незадачка(((</h1>
        <h2 style="color: darkred"> К нашему величайшему сожалению, мы не можем обработать этот запрос...</h2>
        <h3> Возможно он ведет в центр черной дыры, может привести к коллапсу данного пространственно-временного континиума из-за деления на ноль, или просто запрещен администрацией сайта)))</h3>
        <p class="success"> В любом случае, вы можете просто <a href="/"><input class="button success" type="button" value="вернуться на главную"></a></p>
    </div>
</body>
</html>