{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Извините, такой страницы нет(((</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link rel="stylesheet" type="text/css" href="static/static/css/foundation.css" >
        <!-- Insert this within your head tag and after foundation.css -->

</head>
<body>
    <div class="row columns">
        <h1 style="color: red">Вот ведь незадачка(((</h1>
        <h2 style="color: darkred"> К нашему величайшему сожалению, такой страницы нет на нашем сайте...</h2>
        <h3> Возможно она была похищена марсианскими рептилоидами, арестована за попытку нелегальной эмиграции, или просто удалена)))</h3>
        <p style="color: #51a351"> В любом случае, вы можете просто <a href="/"><input class="button" type="button" value="вернуться на главную"></a></p>
    </div>
</body>
</html>